@use '../../../styles/tokens/_breakpoints.scss' as breakpoints;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-md) 1.6rem;
  color: var(--color-white);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-xs);
  border-radius: var(--border-radius-xl);
  cursor: pointer;

  @include breakpoints.media-up(laptop) {
    //padding: var(--spacing-md) 1.6rem;
  }

  &--primary {
    background-color: var(--color-primary);

    &:hover {
      background-color: var(--color-primary-hover);
    }
  }

  &--secondary {
    color: var(--color-text-tertiary);
    background-color: var(--color-secondary);

    &:hover {
      background-color: var(--color-secondary-hover);
    }
  }

  &--tertiary {
    color: var(--color-text-primary);
    background-color: var(--color-tertiary);

    &:hover {
      background-color: var(--color-tertiary-hover);
    }
  }

  &--danger {
    background-color: var(--color-danger);

    &:hover {
      background-color: var(--color-danger-hover);
    }
  }

  &--disabled, &:disabled {
    background-color: gray;//@todo real color
    cursor: not-allowed;
  }

  &:focus-visible {
    outline-offset: 2px;
  }

  &--wide {
    width: 100%;
  }

  &--iconed {
    padding: 0.375rem var(--spacing-md) 0.375rem 0.375rem;//@todo tokenize

    @include breakpoints.media-up(laptop) {
      padding: var(--spacing-xs) var(--spacing-md) var(--spacing-xs) var(--spacing-xs);
    }
  }

  &--icon-only {
    padding: 0.375rem;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.9375rem; //@todo fix to 32px
    height: 1.9375rem;
    font-size: 0.688rem;
    color: var(--color-primary);
    border-radius: 50%;
    background-color: var(--color-white);

    &:not(:only-child) {
      margin-right: var(--spacing-md);
    }

    & > svg {
      width: 1em;
      height: 1em;
    }
  }
}
