:root {
  --spacing-xxs: 0.25rem;  // 4px
  --spacing-xs: 0.5rem;    // 8px
  --spacing-sm: 0.75rem;   // 12px
  --spacing-md: 1rem;      // 16px
  --spacing-lg: 1.5rem;    // 24px
  --spacing-xl: 2rem;      // 32px
  --spacing-xxl: 3rem;     // 48px

  //0.375rem - 6px

  // Border radius
  --border-radius-xs: 0.25rem;  // 4px
  --border-radius-sm: 0.375rem; // 6px
  --border-radius-md: 0.5rem;   // 8px
  --border-radius-lg: 1.25rem;   // 20px
  --border-radius-xl: 1.5rem;   // 24px

  // Transitions
  --transition-fast: 150ms ease;
  --transition-normal: 300ms ease;
  --transition-slow: 500ms ease;
}
