:root {
  --font-family-base: 'Spartan', 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;

  --font-size-xs: 0.75rem;   // 12px
  --font-size-sm: 0.875rem;  // 14px
  --font-size-md: 1rem;      // 16px
  --font-size-lg: 1.25rem;   // 20px
  --font-size-xl: 1.5rem;    // 24px
  --font-size-xxl: 2rem;     // 32px

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  // Line heights
  --line-height-base: 1.25;
  --line-height-tight: 1.2;
  --line-height-normal: 1.5;
  --line-height-loose: 1.8;

  // Letter spacings
  --letter-spacing-xs: -0.021em;
  --letter-spacing-md: -0.05em;
  --letter-spacing-xxl: -0.0315em;
}
