@use '../../../styles/tokens/_breakpoints.scss' as breakpoints;//@todo change for something better

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.5rem;
  display: flex;
  background-color: var(--color-indigo);
  justify-content: space-between;
  z-index: 10;

  @include breakpoints.media-up(tablet) {}
  @include breakpoints.media-up(laptop) {
    flex-direction: column;
    width: 6.4375rem;
    height: 100vh;
    border-radius: 0 1.25rem 1.25rem 0;
  }

  &__logo-container {
    //padding: var(--spacing-md);
    background-color: var(--color-purple);
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    position: relative;

    @include breakpoints.media-up(laptop) {
      width: 100%;
      height: 6.4375rem;
    }

    svg {
      position: relative;
      z-index: 2;
    }
  }

  &__inner-circle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.25rem; // Half of the container height
    background-color: var(--color-purple-light);
    border-top-left-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    z-index: 1;

    @include breakpoints.media-up(laptop) {
      height: 3.21875rem;
    }
  }

  &__theme-toggle {
    margin-left: auto;

    @include breakpoints.media-down(tablet) {
      width: 4.5rem;
    }
    @include breakpoints.media-up(laptop) {
      margin-top: auto;
      margin-left: 0;
    }
  }

  &__avatar {
    --border-color: #494E6E;
    //padding: var(--spacing-lg) 0;
    width: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid var(--border-color);

    @include breakpoints.media-up(laptop) {
      width: 100%;
      border-top: 1px solid var(--border-color);
    }

    img {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
    }
  }
}
