@font-face {
  font-family: 'Spartan';
  src: url('../assets/fonts/Spartan/Spartan-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spartan';
  src: url('../assets/fonts/Spartan/Spartan-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spartan';
  src: url('../assets/fonts/Spartan/Spartan-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spartan';
  src: url('../assets/fonts/Spartan/Spartan-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spartan';
  src: url('../assets/fonts/Spartan/Spartan-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spartan';
  src: url('../assets/fonts/Spartan/Spartan-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spartan';
  src: url('../assets/fonts/Spartan/Spartan-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spartan';
  src: url('../assets/fonts/Spartan/Spartan-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spartan';
  src: url('../assets/fonts/Spartan/Spartan-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
