@use 'modern-normalize';

html {
  font-size: 16px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  min-width: 21.25rem;
  background-color: var(--color-bg);
  color: var(--color-text-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

:focus:not(:focus-visible) {
  outline: none;
}

:focus-visible {
  outline: 1px solid var(--color-primary-hover);
  //outline-offset: 2px; @todo think about needing this
}

.layout {
  display: flex;
  min-height: 100vh;

  &__content {
    flex-grow: 1;//@todo think about needing this
  }
}